body{
    font-family:'Samsung One'; 
    margin: .5px;
    background-color: silver;
    
}

#content{
    margin: 2em;
    max-width: 800px;
    margin: auto;
}

#logo{
    width: 9em;
    margin: auto;
}

#logoSteps{
    color: '#3d3d3d';
    animation-name: 'lighten';
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1em;
    padding: 2em;
}

#preview{
    margin:.1em;
}

@keyframes darken {
    from{
        background-color: #FFF;
        color:#3D3D3D;
    }
    to {
        background-color: #3D3D3D;
        color: #FFF;
    }
}

@keyframes lighten{
    from{
        background-color: #3D3D3D;
        color: #FFF;
    }
    to {
        background-color: #FFF;
        color:#3D3D3D;
    }
}
